.app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1000;
}

.app-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    padding: 32px 48px;
    box-sizing: border-box;
    .app-body-content {
        max-width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .app-title {
            margin-top: 32px;
            margin-bottom: 48px;
            text-align: center;
        }
    }
}
