<div class="app-root">
    <div class="app-body" [style.backgroundColor]="colors.white[50]">
        <div class="app-body-content">
            <app-pxb-logo [color]="colors.blue[500]" [size]="isSmall() ? 100 : 160"></app-pxb-logo>
            <div class="app-title" [class.mat-display-3]="!isSmall()" [class.mat-display-1]="isSmall()">
                <div class="mat-body-1" [style.color]="colors.gray[500]">Power Xpert Blue is now called</div>
                <div style="font-size: 24px; font-weight: 400">Brightlayer User Interface</div>
            </div>
            <div class="mat-h3" style="text-align: center">
                Redirecting
                <ng-container *ngIf="!isSmall()">
                    to
                    <span (click)="navigate()" style="cursor: pointer; color: #007bc1"
                        ><b>brightlayer-ui.github.io</b>{{ path }}</span
                    >
                </ng-container>
                in
                <strong style="color: #007bc1">{{ remaining }}</strong> seconds...
            </div>

            <button
                *ngIf="!isSmall()"
                style="margin-top: 16px"
                mat-stroked-button
                color="primary"
                (click)="learnMore()"
            >
                Learn More
            </button>

            <div *ngIf="isSmall()" style="margin-top: 16px; width: 100%; display: flex; justify-content: space-between">
                <button mat-flat-button color="primary" (click)="navigate()">Redirect Now</button>
                <button mat-stroked-button color="primary" (click)="learnMore()">Learn More</button>
            </div>
        </div>
    </div>
</div>
